<div class="container">

    <h2>Contacts</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="person in vm.contactInfo track by $index">
                <td>{{person.firstName}}</td>
                <td>{{person.lastName}}</td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-primary" ng-click="vm.getContactList()">Get Contacts</button>
    <br><br><br>
    <div class="row">
        <div class="col-md-2">
            <label for="">First name</label>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" ng-model="vm.person.firstName">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label for="">Last name</label>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" ng-model="vm.person.lastName">
        </div>
    </div>
    <br>
    <button class="btn btn-primary" ng-click="vm.addPerson()">Add person</button>

</div>
